<script setup>
import SvgIcon from './SvgIcon.vue';
</script>

<template>
  <div class="w-full h-screen flex">
    <div class="h-full bg-violet-50 w-1/3 flex flex-col justify-end">
      <div class="grow p-4 flex items-center">
        <p class="text-2xl font-semibold">
          Simple ToDo using <br>
          <span class="text-violet-600 font-bold">Vue Js</span> and <span class="text-violet-600 font-bold">Node Js</span>
        </p>
      </div>
      <SvgIcon name="pattern-2"></SvgIcon>
    </div>
    <div class="p-4 md:p-8 grow flex flex-col justify-center items-center">
      <!-- Header -->
      <div class="w-full flex justify-end items-center gap-x-4">
        <h3>Don't have an account?</h3>
        <a href="#" class="px-4 py-2 bg-violet-600 text-white text-sm font-medium hover:bg-violet-800 outline-none">Sign
          Up Now!</a>
      </div>
      <div class="grow w-full flex justify-center items-center">
        <div class="max-w-md w-full py-6">
          <h2 class="text-2xl font-bold">Welcome Buddy</h2>
          <form action="#" class="mt-4 md:mt-6 space-y-4">
            <div>
              <input type="email" placeholder="Email Address"
                class="px-6 py-4 w-full text-sm font-medium bg-violet-50" />
            </div>
            <div>
              <input type="password" placeholder="Password" class="px-6 py-4 w-full text-sm font-medium bg-violet-50" />
            </div>
            <div>
              <button type="submit" class="p-4 w-full text-center bg-green-500 text-white font-medium">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>