<script setup>
const props = defineProps({
    name: String
});


</script>
<template>
    <svg v-if="name == 'pattern'" class="w-auto h-56" xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 444.43980582524273" preserveAspectRatio="xMaxYMax slice">
        <g transform="scale(0.970873786407767)">
            <rect x="0" y="0" width="1030" height="457.77777777777777" fill="#f5f3ff" />
            <rect x="0" y="0" width="114.44" height="114.44" fill="#af9eff" />
            <rect x="0" y="0" width="114.44" height="114.44" fill="#a579f3" />
            <rect x="114.44" y="0" width="114.44" height="114.44" fill="#9a68f1" />
            <path d="M 114.44 0 A 114.44 114.44 0 0 0 228.88 114.44 L 228.88 0" fill="#e8e4ff" />
            <rect x="228.89" y="0" width="114.44" height="114.44" fill="#dcd5ff" />
            <path d="M 228.89 0 A 114.44 114.44 0 0 1 343.33 114.44 L 228.89 114.44" fill="#ded7ff" />
            <rect x="343.33" y="0" width="114.44" height="114.44" fill="#c4a7f8" />
            <polygon points="343.33,0 457.77,0 343.33,114.44" fill="#9560f1" />
            <rect x="457.78" y="0" width="114.44" height="114.44" fill="#e9e4ff" />
            <polygon points="572.22,0 572.22,114.44 457.78,114.44" fill="#bb9bf6" />
            <rect x="572.22" y="0" width="114.44" height="114.44" fill="#c3a6f8" />
            <path d="M 572.22 114.44 A 114.44 114.44 0 0 0 686.6600000000001 0 L 572.22 0" fill="#ac84f4" />
            <rect x="686.67" y="0" width="114.44" height="114.44" fill="#e1d4fc" />
            <rect x="686.67" y="0" width="114.44" height="114.44" fill="#c3b6ff" />
            <rect x="801.11" y="0" width="114.44" height="114.44" fill="#b0a0ff" />
            <rect x="801.11" y="0" width="114.44" height="114.44" fill="#e2ddff" />
            <rect x="915.56" y="0" width="114.44" height="114.44" fill="#c4b8ff" />
            <rect x="915.56" y="0" width="114.44" height="114.44" fill="#f1ecfe" />
            <rect x="0" y="114.44" width="114.44" height="114.44" fill="#c5b9ff" />
            <path d="M 0 114.44 A 114.44 114.44 0 0 0 114.44 228.88 L 114.44 114.44" fill="#a97ff4" />
            <rect x="114.44" y="114.44" width="114.44" height="114.44" fill="#ebe7ff" />
            <polygon points="114.44,114.44 228.88,114.44 228.88,228.88" fill="#b1a1ff" />
            <rect x="228.89" y="114.44" width="114.44" height="114.44" fill="#c8aff8" />
            <polygon points="228.89,114.44 343.33,114.44 228.89,228.88" fill="#cdb5f9" />
            <rect x="343.33" y="114.44" width="114.44" height="114.44" fill="#d2c9ff" />
            <rect x="343.33" y="114.44" width="114.44" height="114.44" fill="#9a68f1" />
            <rect x="457.78" y="114.44" width="114.44" height="114.44" fill="#e6e1ff" />
            <rect x="457.78" y="114.44" width="114.44" height="114.44" fill="#c9bfff" />
            <rect x="572.22" y="114.44" width="114.44" height="114.44" fill="#d1c8ff" />
            <rect x="572.22" y="114.44" width="114.44" height="114.44" fill="#cbc1ff" />
            <rect x="686.67" y="114.44" width="114.44" height="114.44" fill="#b9abff" />
            <path
                d="M 686.67 114.44 A 114.44 114.44 0 0 1  801.1099999999999 228.88 L 686.67 114.44 A 114.44 114.44 0 0 0 801.1099999999999 228.88"
                fill="#c2a5f7" />
            <rect x="801.11" y="114.44" width="114.44" height="114.44" fill="#a477f3" />
            <path d="M 801.11 228.88 A 114.44 114.44 0 0 0 915.55 114.44 L 801.11 114.44" fill="#8142ee" />
            <rect x="915.56" y="114.44" width="114.44" height="114.44" fill="#dfd9ff" />
            <path d="M 915.56 114.44 A 114.44 114.44 0 0 0 1030 228.88 L 1030 114.44" fill="#e8dffd" />
            <rect x="0" y="228.89" width="114.44" height="114.44" fill="#b490f5" />
            <polygon points="0,228.89 114.44,228.89 114.44,343.33" fill="#c1b5ff" />
            <rect x="114.44" y="228.89" width="114.44" height="114.44" fill="#b1a2ff" />
            <path d="M 114.44 228.89 A 114.44 114.44 0 0 0 228.88 343.33 L 228.88 228.89" fill="#eae5ff" />
            <rect x="228.89" y="228.89" width="114.44" height="114.44" fill="#e9e5ff" />
            <path
                d="M 228.89 228.89 A 114.44 114.44 0 0 1  343.33 343.33 L 228.89 228.89 A 114.44 114.44 0 0 0 343.33 343.33"
                fill="#c7adf8" />
            <rect x="343.33" y="228.89" width="114.44" height="114.44" fill="#8f57f0" />
            <path d="M 343.33 343.33 A 114.44 114.44 0 0 1  457.77 228.89 L 457.77 343.33" fill="#e3ddff" />
            <rect x="457.78" y="228.89" width="114.44" height="114.44" fill="#8141ee" />
            <rect x="457.78" y="228.89" width="114.44" height="114.44" fill="#c4b8ff" />
            <rect x="572.22" y="228.89" width="114.44" height="114.44" fill="#b0a0ff" />
            <rect x="572.22" y="228.89" width="114.44" height="114.44" fill="#ad86f4" />
            <rect x="686.67" y="228.89" width="114.44" height="114.44" fill="#d5c2fa" />
            <rect x="686.67" y="228.89" width="114.44" height="114.44" fill="#e2dcff" />
            <rect x="801.11" y="228.89" width="114.44" height="114.44" fill="#a67bf3" />
            <path d="M 801.11 228.89 A 114.44 114.44 0 0 0 915.55 343.33 L 915.55 228.89" fill="#9763f1" />
            <rect x="915.56" y="228.89" width="114.44" height="114.44" fill="#eae3fd" />
            <path d="M 915.56 228.89 A 114.44 114.44 0 0 0 1030 343.33 L 1030 228.89" fill="#efecff" />
            <rect x="0" y="343.33" width="114.44" height="114.44" fill="#8447ee" />
            <path d="M 0 343.33 A 114.44 114.44 0 0 0 114.44 457.77 L 114.44 343.33" fill="#b5a7ff" />
            <rect x="114.44" y="343.33" width="114.44" height="114.44" fill="#dbd4ff" />
            <polygon points="114.44,343.33 228.88,343.33 114.44,457.77" fill="#8040ee" />
            <rect x="228.89" y="343.33" width="114.44" height="114.44" fill="#cdc2ff" />
            <rect x="228.89" y="343.33" width="114.44" height="114.44" fill="#d9c8fb" />
            <rect x="343.33" y="343.33" width="114.44" height="114.44" fill="#eae6ff" />
            <path
                d="M 343.33 343.33 A 114.44 114.44 0 0 1  457.77 457.77 L 343.33 343.33 A 114.44 114.44 0 0 0 457.77 457.77"
                fill="#a070f2" />
            <rect x="457.78" y="343.33" width="114.44" height="114.44" fill="#ad9cff" />
            <polygon points="457.78,343.33 572.22,343.33 572.22,457.77" fill="#b5a6ff" />
            <rect x="572.22" y="343.33" width="114.44" height="114.44" fill="#9059f0" />
            <path
                d="M 572.22 457.77 A 114.44 114.44 0 0 1  686.6600000000001 343.33 L 572.22 457.77 A 114.44 114.44 0 0 0 686.6600000000001 343.33"
                fill="#b1a1ff" />
            <rect x="686.67" y="343.33" width="114.44" height="114.44" fill="#8040ee" />
            <polygon points="686.67,343.33 801.1099999999999,343.33 686.67,457.77" fill="#b18bf5" />
            <rect x="801.11" y="343.33" width="114.44" height="114.44" fill="#ad85f4" />
            <path d="M 801.11 343.33 A 114.44 114.44 0 0 1 915.55 457.77 L 801.11 457.77" fill="#d8d0ff" />
            <rect x="915.56" y="343.33" width="114.44" height="114.44" fill="#d7c6fb" />
            <path
                d="M 915.56 457.77 A 114.44 114.44 0 0 1  1030 343.33 L 915.56 457.77 A 114.44 114.44 0 0 0 1030 343.33"
                fill="#ece6fe" />
        </g>
    </svg>
    <svg v-if="name == 'pattern-2'" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1000 272.7242718446602" preserveAspectRatio="xMaxYMax slice">
        <g transform="scale(0.970873786407767)">
            <rect x="0" y="0" width="1030" height="280.90909090909093" fill="#f5f3ff" />
            <circle cx="46.815000000000005" cy="46.815000000000005" r="9.365" fill="#a694ff" />
            <circle cx="140.455" cy="46.815000000000005" r="9.365" fill="#a694ff" />
            <circle cx="234.095" cy="46.815000000000005" r="9.365" fill="#a694ff" />
            <circle cx="327.725" cy="46.815000000000005" r="9.365" fill="#7c3aed" />
            <circle cx="421.365" cy="46.815000000000005" r="9.365" fill="#7c3aed" />
            <circle cx="515.005" cy="46.815000000000005" r="9.365" fill="#a694ff" />
            <circle cx="608.635" cy="46.815000000000005" r="9.365" fill="#a694ff" />
            <circle cx="702.275" cy="46.815000000000005" r="9.365" fill="#7c3aed" />
            <circle cx="795.915" cy="46.815000000000005" r="9.365" fill="#7c3aed" />
            <circle cx="889.545" cy="46.815000000000005" r="9.365" fill="#a694ff" />
            <circle cx="983.1850000000001" cy="46.815000000000005" r="9.365" fill="#a694ff" />
            <circle cx="46.815000000000005" cy="140.455" r="9.365" fill="#a694ff" />
            <circle cx="140.45" cy="140.45" r="15.9" fill="#7c3aed" />
            <circle cx="234.09" cy="140.46" r="22.44" fill="#7c3aed" />
            <circle cx="327.725" cy="140.455" r="28.975" fill="#a694ff" />
            <circle cx="421.365" cy="140.45499999999998" r="35.515" fill="#7c3aed" />
            <circle cx="514.995" cy="140.45499999999998" r="39.325" fill="#7c3aed" />
            <circle cx="608.635" cy="140.45499999999998" r="39.325" fill="#7c3aed" />
            <circle cx="702.275" cy="140.45499999999998" r="35.515" fill="#a694ff" />
            <circle cx="795.905" cy="140.455" r="28.975" fill="#7c3aed" />
            <circle cx="889.5500000000001" cy="140.46" r="22.44" fill="#7c3aed" />
            <circle cx="983.18" cy="140.45" r="15.9" fill="#7c3aed" />
            <circle cx="46.815000000000005" cy="234.095" r="9.365" fill="#7c3aed" />
            <circle cx="140.45" cy="234.09" r="15.9" fill="#a694ff" />
            <circle cx="234.09" cy="234.09" r="22.44" fill="#7c3aed" />
            <circle cx="327.725" cy="234.085" r="28.975" fill="#7c3aed" />
            <circle cx="421.365" cy="234.09500000000003" r="35.515" fill="#7c3aed" />
            <circle cx="514.995" cy="234.08499999999998" r="39.325" fill="#7c3aed" />
            <circle cx="608.635" cy="234.08499999999998" r="39.325" fill="#7c3aed" />
            <circle cx="702.275" cy="234.09500000000003" r="35.515" fill="#7c3aed" />
            <circle cx="795.905" cy="234.085" r="28.975" fill="#7c3aed" />
            <circle cx="889.5500000000001" cy="234.09" r="22.44" fill="#a694ff" />
            <circle cx="983.18" cy="234.09" r="15.9" fill="#a694ff" />
        </g>
    </svg>
</template>
